<div class="row">
  <div class="col l10 m8 s12 offset-s0">

    {{#if error}}
    <p class="alert">{{error}}</p>
    {{/if}}

    <h3>Set a new password</h3>
    <form action="/auth/password" method="post">
      <div class="input-field">
        <input name="password" id="password" type="password" class="validate" required>
        <label for="password">New password</label>
        <span class="helper-text" data-error="Enter your password"></span>
      </div>

      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="hidden" name="userId" value="{{userId}}">
      <input type="hidden" name="token" value="{{token}}">

      <button class="btn btn-primary" type="submit">Update password</button>
    </form>
  </div>
</div>