<div class="row">
  <div class="col l10 m8 s12 offset-s0">

    {{#if error}}
    <p class="alert">{{error}}</p>
    {{/if}}

    <h3>Forgot your password?</h3>
    <form action="/auth/reset" method="post">
      <div class="input-field">
        <input name="email" id="email" type="email" class="validate" required>
        <label for="email">Your email address</label>
        <span class="helper-text" data-error="Enter your email address"></span>
      </div>

      <input type="hidden" name="_csrf" value="{{csrf}}">

      <button class="btn btn-primary" type="submit">Reset</button>
    </form>
  </div>
</div>